<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarParts</title>
    <link rel="stylesheet" href="../css/game.css">
</head>
<body>
    <nav class="navLeft">
        <a href="./menu.html" class="nav-link"><img src="../img/menu.png" alt="menu"></a>
        <a href="menu.html"><img class="shop" src="../img/online-shop.png" alt=""></a>
    </nav>
    <main>
        <h1 class="title">Car Parts</h1>

        <div class="garage">
            <div class="infos">
                <img class="voiture-img" src="../img/voiture-droite.png" alt="">
                <div id="switch">
                    <h3 class="parts"><span id="parts"></span>/5</h3>
                </div>
            </div>
            <div class="cards">
                <a href="quest.html" class="card">
                    <img class="card-img" src="../img/quete.png" alt="">
                    <h2 class="card-title">Quêtes</h2> 
                </a>
                <a href="test.html" class="card">
                    <img class="card-img" src="../img/circuit.png" alt="">
                    <h2 class="card-title">Tester</h2> 
                </a>
            </div>
        </div>
    </main>
    <nav class="navRight">
        <div class="money">
            <h2 id="money"></h2>
            <img src="../img/money.png" alt="">
        </div>
        <button onclick="casse()" class="casse"><img src="../img/casse-automobile.png" alt=""></button>
    </nav>
</body>
<script type="module" src="../script/menu.js"></script>
<script src="../script/game.js"></script>
<script src="../script/gameInnerHTML.js"></script>
</html>