<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarParts</title>
    <link rel="stylesheet" href="../css/game.css">
</head>
<body>
    <header>
        <a href="./menu.html" class="nav-link"><img src="../img/menu.png" alt="menu"></a>
        <h1 class="title">Car Parts</h1>
        <div>
            <h2>000000</h2>
            <img src="../img/money.png" alt="">
        </div>
    </header>
    <main>
        <a href="quete.html" class="card">
            <img class="card-img" src="../img/quete.png" alt="">
            <h2 class="card-title">Quêtes</h2> 
        </a>
        <a href="quete.html" class="card">
            <img class="card-img" src="../img/quete.png" alt="">
            <h2 class="card-title">Quêtes</h2> 
        </a>
        <a href="quete.html" class="card">
            <img class="card-img" src="../img/quete.png" alt="">
            <h2 class="card-title">Quêtes</h2> 
        </a>
    </main>
    <footer>
        <a href="menu.html"><img class="shop" src="../img/online-shop.png" alt=""></a>
        <button class="casse"><img src="../img/casse-automobile.png" alt=""></button>
    </footer>
</body>
</html>