<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarParts</title>
    <link rel="stylesheet" href="../css/quete.css">
</head>
<body>
    <canvas id="quete"></canvas>
    <h5 id="instruction">
      <img class="img-infos" src="../img/quete.png" alt="">
      Votre objectif est de rentrer dans le garage pour voler une pièce de voiture
    </h5>
    <button onclick=informations()><img class="btn-infos" src="../img/info.png" alt=""></button>
    <div class="money">
      <h2 id="money"></h2>
      <img src="../img/money.png" alt="">
    </div>
    <a href="game.html"><img class="btn-back" src="../img/back.png" alt=""></router-link>
</body>
<script src="../script/innerHTML.js"></script>
<script src="../script/game.js"></script>
<script type="module" src="../script/quete.js"></script>
<script src="../script/collisions.js"></script>
</html>