<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarParts</title>
    <link rel="stylesheet" href="../css/quete.css">
</head>
<body>
    <canvas id="quete"></canvas>
    <nav>
        <div class="money">
            <h2>000000</h2>
            <img src="../img/money.png" alt="">
          </div>
          <h3 class="instruction">
            Votre objectif est de rentrer dans le garage pour voler une pièce de voiture
          </h3>
          <div class="deplacement">
            <img class="img-clav" src="../img/bouton-clavier.png" alt="">
            <h4>Déplacement</h4>
          </div>
          <a href="game.html"><img class="btn-back" src="../img/back.png" alt=""></router-link>
    </nav>
</body>
<script src="../script/quete.js"></script>
</html>